*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
font-style: italic;
}

html, body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

/* NAVBAR */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #31633d;
    position: relative;
    height: 70px;
}
.logo {
    color: antiquewhite;
    font-size: 2vw;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

header nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
    transition: 0.5s ease;
}

header nav ul li a {
    text-decoration: none;
    color: antiquewhite;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
}

.icon-menu {
    display: none;
}

.icon-menu i {
    color: antiquewhite;
    font-size: 30px;
}

@media (max-width:600px) {
    header nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #4a985c;
        gap: 0;
        overflow: hidden;
    }
    header nav ul li {
        padding: 20px;
    }
    .icon-menu {
        display: block;
        transition: 0.5s ease;
    }
    #listMenu {
        transition: all 0.5s;
    }

    #listMenu.active {
        max-height: 300px;
    }
    
    .logo h1 {
        font-size: 5vw;
    }
}

.icon-menu:hover {
    transform: scale(1.1);
}

header nav ul li:hover {
    transform: scale(1.1);
}

header nav ul li a:hover, header nav ul li a.active  {
    transform: scale(1.1);
    color: antiquewhite;
    border-bottom: 2px solid #b7ccb9;
}

/*Home*/
section {
    min-height: auto;
    padding: 2rem 9% 1rem;
    width: 100%;
    scroll-margin-top: 70px;
}

.home {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    background-color: #6d8b74;
}

.home .home-content h1 {
    font-size: 5hv;
    font-weight: 700;
    line-height: 4px;
    padding-bottom: 3vw;
    color: antiquewhite;
}

.home-content h1 span {
    color: #f2f9f1;
}

.home-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    color: antiquewhite;
}

.home-image {
    border-radius: 0%;
}

.home-image img {
    width: 30vw;
    border-radius: 70%;
    transition: 0.5s ease;
}

.home-image img:hover {
 transform: scale(1.1);
}

.home-content ul {
    margin-top: 2vw;
    display: flex;
    gap: 30px;
}

.home-content ul li {
    list-style-type: none;
    display: flex;
}

.home-content ul li a {
    text-decoration: none;
    display: inline-block;
    background: antiquewhite;
    color: #31633d;
    border: 2px solid antiquewhite;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.home-content ul li a:hover {
    background: transparent;
    color: aliceblue;
    transform:scale(1.1);
}

.typing-text {
    font-size: 30px;
    font-weight: 600;
    color: rgb(246, 246, 246);
}

.typing-text span {
    color: #f2f9f1;
}

.home p {
    color: #f2f9f1;
}
.cursor {
    display: inline-block;
    margin-left: 3px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        gap: 30px;
        padding-top: 100px;
    }

    .home-image img {
        width: 50vw;
        max-width: 400px;
        border-radius: 20%;
    }

    .home-content {
        max-width: 90%;
    }
    
    .home-content h1 {
        font-size: 5vw;
    }

    p {
        margin-bottom: 5px;
        text-align: justify;
    }
    
}

/*judul */

.judul-halaman h1 {
    font-size: 8vw;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}

/* About Menu */

.about {
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    margin: 0;
    padding-top: 20px;
    gap: 1vw;
}

#about-reihan {
   scroll-margin: 80px;
}

.about h1 {
    font-size: 8vw;
    color: #31633d;
}

#about-syahla {
    scroll-margin: 80px;
}

.about-img1 {
    border-radius: 0%;
    display: flex;
    gap: 3vw;
}

.about-img2 {
    padding-top: 30px;
    border-radius: 0;
    display: flex;
    gap: 3vw;
}

.about-img1 img{
    width: 20vw;
    border-radius: 20%;
    transition: 0.5s ease;
}

.about-img2 img{
    width: 20vw;
    border-radius: 20%;
    transition: 0.5s ease;
    margin-bottom: 5px;
}

.about-img1 img:hover {
 transform: scale(1.1);
}

.about-img2 img:hover {
 transform: scale(1.1);
}

.text h1 {
    display: flex;
    font-size: 4vw;
    flex-direction: column;   /* INI YANG BIKIN TEKS KE BAWAH */
    color: #31633d;
}

.text h2 {
    font-size: 3vw;
    flex-direction: column;   /* INI YANG BIKIN TEKS KE BAWAH */
    color: #31633d;
}

.text h3 {
    padding-top: 5px;
    font-size: 3vw;
    gap: 5px;
    color: #31633d;
}

.text h3 span {
    color: #31633d;
}

.sosmed ul {
    display: flex;
    font-size: 40px;
    margin-top: 1vw;
    gap: 5px;
    align-items: center;
    justify-content: left;
}

.sosmed ul li {
    list-style-type: none;
    transition: 0.3s ease;
}

.sosmed ul li a {
    text-decoration: none;
    color: #31633d;    
    transition: 0.3s ease;
}

.sosmed ul li a:hover {
    background: transparent;
    color: #6d8b74;
}

.sosmed ul li:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .sosmed ul {
        font-size: 20px;
    }
}

/* kenangan */
.menu-kenangan {
    background-color: #6d8b74;
}

.container-kenangan {
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    padding: 0 20px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.menu-kenangan h1 {
    font-size: 8vw;
    color: antiquewhite;
}

.container-kenangan h1{
    font-size: 20px;
    color: #f7f7e8;
}

.card img {
    width: 20vw;
    flex: 0 0 auto;
    background: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    border-radius: 20px;
    margin: 15px 1px;
}

.kenangan {
    gap: 10px;
    display: flex;
    align-items: center;
    width: max-content;
    animation: scrol 15s linear infinite;
}

.kenangan1 {
    gap: 10px;
    display: flex;
    align-items: center;
    width: max-content;
    animation: scrol 45s linear infinite;
}

.kenangan2 {
    gap: 10px;
    display: flex;
    align-items: center;
    width: max-content;
    animation: scrol 38s linear infinite;
}
.kenangan3 {
    gap: 10px;
    display: flex;
    align-items: center;
    width: max-content;
    animation: scrol 27s linear infinite;
}
.kenangan4 {
    gap: 10px;
    display: flex;
    align-items: center;
    width: max-content;
    animation: scrol 36s linear infinite;
}
@keyframes scrol {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width:768px) {
    .card img {
        width: 50vw;
    }
    
    h1 {
        font-size: 15px;
    }
}

/*recap*/
.recap {
    background-color: antiquewhite;
}

.recap h1 {
    font-size: 8vw;
    color: #6d8b74;
}

.container-kartu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.kartu {
    margin-top: 10px;
    width: 325px;
    background-color: #6d8b74;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    animation: 0.5s ease;
    margin-bottom: 50px;
}

.kartu img {
width: 100%;
height: auto;
}

.isi-kartu {
    margin: 10px;
}

.isi-kartu h2 {
    text-align: center;
    color: #f2f9f1;
    margin-bottom: 5px;
    font-size: 26px;
}

.isi-kartu p {
    line-height: 1.3;
    margin-bottom: 5px;
    color: #f2f9f1;
}

.kartu:hover {
    transform: scale(1.1);
}

@media (max-width:768px) {
   .judul-halaman h1 {
        font-size: 26px;
    }
}

/*footer*/
.footer {
    background-color: #6d8b74;
    margin-bottom: 0px;
}

.isi-footer {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.isi-footer h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: italic;
    color: #f2f9f1;
}

.isi-footer .sosmed-dev ul li {
    list-style-type: none;
    animation: 1s ease;
}

.isi-footer p {
    color: #f2f9f1;
    font-size: 15px;
}

.isi-footer .sosmed-dev ul li a {
    color: #f2f9f1;
}

.sosmed-dev h3 {
    margin-top: 10px;
    font-style: italic;
    color: #f2f9f1;
}

.sosmed-dev ul{
    display: flex;
    font-size: 3vw;
    margin-top: 1vw;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.copyright {
    margin-top: 10px;
    border-top: 1px solid antiquewhite;
}

.copyright p {
    margin-top: 10px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    font-style: italic;
    color: #f2f9f1;
}

.copyright p a {
    text-decoration: none;
    color: #f2f9f1;
}

@media (max-width:768px) {
    .sosmed-dev ul {
        font-size: 30px;
    }
}

.sosmed-dev ul li:hover {
    transform: scale(1.1);

}

